<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  {%- if section.settings.announcement_bar_enabled -%}
    <div class="container">
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <a href="{{ section.settings.announcement_bar_link }}">
            {{ section.settings.announcement_bar_text | escape }}
          </a>
        {%- else -%}
          <p>{{ section.settings.announcement_bar_text | escape }}</p>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}

  <div class="container">
    <a class="navbar-brand" href="/">{{ shop.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for link in linklists[section.settings.menu].links %}
          {% if link.links != blank %}
          <li class="nav-item dropdown{% if link.active %} active{% endif %}">
              <a class="nav-link dropdown-toggle" href="{{ link.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ link.title }}{% if link.active %}<span class="sr-only">(current)</span>{% endif %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for childlink in link.links %}
                  <a class="dropdown-item" href="{{ childlink.url }}">
                    {{ childlink.title }}
                  </a>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item{% if link.active %} active{% endif %}">
              <a class="nav-link" href="{{ link.url }}">
                {{ link.title }}{% if link.active %}<span class="sr-only">(current)</span>{% endif %}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      {% comment %}
      <form class="form-inline" action="/search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{{ search.terms | default: 'Search' }}" aria-label="Search" aria-describedby="button-search" name="q">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-search"><i class="fal fa-search"></i></button>
          </div>
        </div>
      </form>
      {% endcomment %}

      <ul class="navbar-nav">
        <li class="nav-item{% if request.path contains "/search" %} active{% endif %}">
          <a class="nav-link" href="/search">
            <i class="fal fa-search"></i>
          </a>
        </li>
        {%- if shop.customer_accounts_enabled -%}
        <li class="nav-item dropdown{% if request.path contains "/account" %} active{% endif %}">
          <a class="nav-link dropdown-toggle" href="/account" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fal fa-user"></i>{% if request.path contains "/account" %}<span class="sr-only">(current)</span>{% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="accountDropdown">
            {% if customer %}
            <li class="dropdown-item">
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
            </li>
            <li class="dropdown-item">
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
            {% else %}
            <li class="dropdown-item">
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            <li class="dropdown-item">
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
          </ul>
        </li>
        {% endif %}
        {%- endif -%}
        <li class="nav-item">
          <a class="nav-link{% if request.path == "/cart" %} active{% endif %}" href="/cart">
            <i class="fal fa-shopping-cart"></i> <span class="badge badge-pill badge-{% if cart.item_count > 0 %}primary{% else %}secondary{% endif %}">{{ cart.item_count }}</span>{% if request.path == "/cart" %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
